*{
	margin: 0;
	padding: 0;
}
body{

	width: 80%;
	margin: 10px auto;
	background: #e9e9e9e;
}
header{
	border-radius: 20px 20px 0 0;
	display: flex;
	flex-direction: column;
	background-color: #F07613;
}

.menu{	
	display: flex;	
	flex-flow: row wrap;
	align-items: baseline;

}
.submenu0{
	display: flex;
	flex-flow: column wrap;
	position: absolute;
	margin-top: 45px;
	align-self: flex-end;
}
.submenu0 a:hover{
	display: block;
}

.submenu0 a{
	display: none;
	margin: 0px;
	border-bottom: 1px solid #fff;
}
.menu0{
	display: flex;
	flex-direction: column;
	
}


a{
	background-color: #0B4BEE;
	padding: 10px;
	margin: 5px;
	color: #fff;
	text-decoration: none;
}
a:hover {
	border-radius: 10px;
	background-color: #E44242;
}

.medio{
	margin-top: 5px;
	display: flex;
	justify-content: space-between;
}

.imagen{
	width: 70%;
	height: 50%;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	
}
h1, h3{
	color: #fff;
	text-align: center;

}

.contenido{
	background-color: #E44242;
	width: 90%;
	height: 50%;
	margin: 10px;
}
.foto{
	width: 50%;
	height: 50%;
	justify-content: center;
	align-items: center;
}

aside{
	width: 30%;
	background-color: #F07613;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

}
footer{
	padding: 10px;
	margin-top: 5px;
	height: 40px;
	border-radius: 0 0 20px 20px;
	background-color: #0B4BEE;
	color: #fff;
}


header nav ul {
	list-style:none;
}


header nav ul li a {
	color:#fff;
	padding:5px;
	display: flex;
	flex-direction: column;
	text-decoration:none;
}

header nav ul li a:hover {
	background:#E44242;
}


li:hover .children{
	display:block;
}
ul{
	display: flex;
	flex-flow: row wrap;
}
.children{
	display:none;
	background-color: #F07613;
	z-index: 1000;
	position: absolute;
}
header nav ul li .children li{
	display: block;
	border-bottom: 1px solid rgba(255,255,255,.5)
}